div.semestar  div
{
	position: relative;
	text-align: center;
	float:left;
	width: 188px;
	margin: 7px;
	height:6em;
	-webkit-transition: all 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	background:  #f6f6f6;
}


div.semestar  div:hover  p.info
{
	opacity:1;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
}

.zeleni
{
	border-left: 10px green solid;
	background: #d9e8d9 ;
}


.crveni
{
	border-left: 10px red solid;
	background: #ffdddd;
}

.plavi
{
	border-left: 10px blue solid;
	background: #dbdbf6  ;
}

.zuti
{
	border-left: 10px yellow solid;
	background: #fdffb9 ;
}

.sivi
{
	border-left: 10px #4c4c4c solid;
	background: #d4d4d4 ;
}

.semestar  div:hover 
{
	background: #ffffff;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
}

.zeleni  div:hover p.ime
{
	color: green;
	text-decoration:underline;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

.crveni  div:hover p.ime
{
	color: red;
	text-decoration:underline;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

.plavi  div:hover p.ime
{
	color: blue;
	text-decoration:underline;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}


.prvi
{
	margin-bottom: 1em;
}

.drugi
{
	margin-bottom: 1em;
}

.treci
{
}

.cetvrti
{

}

.izborni1
{	
	margin-bottom: 1em;
}

.izborni2
{
	margin-bottom: 1em;
}

.peti
{
}

.sesti
}

.izborni3
{	
}

.izborni4
{
}